<html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <style>
      @font-face {
        font-family: SegoeUI;
        src: local('Segoe UI Light'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2)
            format('woff2'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff)
            format('woff'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf)
            format('truetype');
        font-weight: 100;
      }
      @font-face {
        font-family: SegoeUI;
        src: local('Segoe UI Semilight'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2)
            format('woff2'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff)
            format('woff'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf)
            format('truetype');
        font-weight: 200;
      }
      @font-face {
        font-family: SegoeUI;
        src: local('Segoe UI'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
            format('woff2'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
            format('woff'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
            format('truetype');
        font-weight: 400;
      }
      @font-face {
        font-family: SegoeUI;
        src: local('Segoe UI Bold'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2)
            format('woff2'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff)
            format('woff'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf)
            format('truetype');
        font-weight: 600;
      }
      @font-face {
        font-family: SegoeUI;
        src: local('Segoe UI Semibold'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2)
            format('woff2'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff)
            format('woff'),
          url(https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf)
            format('truetype');
        font-weight: 700;
      }
      body {
        font-size: 16px;
        line-height: 2;
        font-family: SegoeUI;
      }
      td,
      td h6 {
        line-height: 1.5;
      }
      .bold {
        font-weight: bold;
      }
      .w-40 {
        width: 40%;
      }
      .w-60 {
        width: 60%;
      }
      .no-break-inside {
        break-inside: avoid;
      }
      .break-before {
        break-before: page;
      }
      .link-page a::after {
        content: target-counter(attr(href), page);
      }

      .link-page::after {
        content: ', ';
      }

      .link-page:last-of-type::after {
        content: none;
      }

      .index-value::after {
        content: ' – ';
      }
    </style>
    <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
  </head>

  <body>
    <div id="book-index"></div>
    <div id="listindexgenerated"></div>
    <div class="root break-before" style="background: 'red'">
      <div class="container-fluid m-0 p-0">
        <div class="row book-index" data-book-index="Proposal Summary">
          <div class="col">
            <h2 class="text-center mb-4 bold">{{ proposal.title }}</h2>
            <div class="mb-4">
              <h4 class="bold">Proposal ID</h4>
              {{ proposal.proposalId }}
            </div>

            <div class="mb-4">
              <h4 class="bold">Brief Summary</h4>
              {{ proposal.abstract }}
            </div>

            <div>
              <h4 class="bold" class="mb-2">Proposal Team</h4>
              <div class="row">
                <div class="col-4">
                  <p>Proposal Investigator:</p>
                </div>
                <div class="col-8">
                  <span
                    >{{ principalInvestigator.firstname }} {{
                    principalInvestigator.lastname }}, {{
                    principalInvestigator.position }}, {{
                    principalInvestigator.organisation }}</span
                  >
                </div>
              </div>
              {{#if coProposers }}
              <div class="row">
                <div class="col-4">
                  <p>Co-Investigator:</p>
                </div>
                <div class="col-8">
                  {{#each coProposers}}
                  <span
                    >{{ this.firstname }} {{ this.lastname }}, {{
                    this.organisation }}</span
                  >
                  {{/each}}
                </div>
              </div>
              {{/if}}
            </div>
          </div>
        </div>

        <div
          class="break-before book-index"
          data-book-index="Proposal Questionary"
        >
          {{#each questionarySteps}} {{#unless ($eq this.topic.title "Proposal text") }}
          <h4
            class="bold my-3 book-index"
            data-book-index-parent="Proposal Questionary"
            data-book-index="{{{this.topic.title}}}"
          >
            {{ this.topic.title }}
          </h4>
          <div class="row my-3">
            <div class="col">
              <table class="border w-100">
                <tbody class="border">
                  {{#each this.fields}} {{#if ($eq this.question.dataType
                  'EMBELLISHMENT')}}
                  <tr class="border-bottom">
                    <td class="p-3 border-right" colspan="2">
                      <h5 class="bold m-0">{{ this.config.plain }}</h5>
                    </td>
                  </tr>
                  {{ else }}
                  <tr class="border-bottom no-break-inside">
                    <td class="p-3 border-right w-40">
                      <h6 class="bold m-0">{{ this.question.question }}</h6>
                    </td>
                    <td class="p-3 w-60">
                      {{#if ($eq this.question.dataType 'SAMPLE_DECLARATION')}}
                      {{#unless this.value}}
                      <div class="mb-2"><em>Left blank</em></div>
                      {{/unless}} {{#each this.value}} {{ this.title }} -
                      <em>See appendix</em>
                      <br /><br />
                      {{/each}} {{else if ($eq this.question.dataType
                      'NUMBER_INPUT')}} {{#if this.value.value}} {{
                      this.value.value }} {{ this.value.unit.unit }} {{else}}
                      <em>Left blank</em>
                      {{/if}} {{else if ($eq this.question.dataType 'BOOLEAN')}}
                      {{#if this.value}}Yes{{else}}No{{/if}} {{else if ($eq
                      this.question.dataType 'INTERVAL')}} {{#if ($or
                      this.value.min this.value.max)}} {{ this.value.min }} - {{
                      this.value.max }} {{#if this.value.unit}} {{
                      this.value.unit.unit }} {{/if}} {{else}}
                      <em>Left blank</em>
                      {{/if}} {{else if ($eq this.question.dataType 'DATE')}}
                      {{#if this.value}} {{$utcDate this.value}} {{else}}
                      <em>Left blank</em>
                      {{/if}} {{else if ($eq this.question.dataType
                      'DYNAMIC_MULTIPLE_CHOICE')}} {{#if this.value}} {{$join
                      this.value ', '}} {{else}}
                      <em>Left blank</em>
                      {{/if}} {{else if ($eq this.question.dataType
                      'SELECTION_FROM_OPTIONS')}} {{#if this.value}} {{$join
                      this.value ', '}} {{else}}
                      <em>Left blank</em>
                      {{/if}} {{else if ($eq this.question.dataType
                      'TEXT_INPUT')}} {{#if this.value}} {{ this.value }}
                      {{else}}
                      <em>Left blank</em>
                      {{/if}} {{else if ($eq this.question.dataType
                      'RICH_TEXT_INPUT')}} {{#if this.value}} {{{this.value}}}
                      {{else}}
                      <em>Left blank</em>
                      {{/if}} {{else if ($eq this.question.dataType
                      'INSTRUMENT_PICKER')}} {{#if this.value}} {{{this.value}}}
                      {{else}}
                      <em>Left blank</em>
                      {{/if}} {{else if ($eq this.question.dataType
                      'FILE_UPLOAD')}} {{!-- {{#if this.value}} {{{$attachment
                      this.value ../../attachmentsFileMeta}}} {{else}}
                      <em>Left blank</em>
                      {{/if}} --}} {{/if}}
                    </td>
                  </tr>
                  {{/if}} {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          {{/unless}} {{/each}}
        </div>

        {{#each questionarySteps}} {{#if ($eq this.topic.title "Proposal text")
        }}
        <div class="break-before book-index" data-book-index="Proposal Text">
          <h4 class="bold" class="my-3">{{ this.topic.title }}</h4>
          <div class="row my-3">
            <div class="col">
              {{#each this.fields}}
              <div class="no-break-inside">
                {{#if ($eq this.question.dataType 'EMBELLISHMENT')}}
                <h5 class="bold my-3">{{ this.config.plain }}</h5>
                {{ else }}
                <div class="no-break-inside">
                  <h5 class="bold my-3">{{ this.question.question }}</h5>
                  {{#if ($eq this.question.dataType 'SAMPLE_DECLARATION')}}
                  {{#unless this.value}}
                  <div class="mb-2"><em>Left blank</em></div>
                  {{/unless}} {{#each this.value}} {{ this.title }} -
                  <em>See appendix</em>
                  <br /><br />
                  {{/each}} {{else if ($eq this.question.dataType
                  'NUMBER_INPUT')}} {{#if this.value.value}} {{ this.value.value
                  }} {{ this.value.unit.unit }} {{else}}
                  <em>Left blank</em>
                  {{/if}} {{else if ($eq this.question.dataType 'BOOLEAN')}}
                  {{#if this.value}}Yes{{else}}No{{/if}} {{else if ($eq
                  this.question.dataType 'INTERVAL')}} {{#if ($or this.value.min
                  this.value.max)}} {{ this.value.min }} - {{ this.value.max }}
                  {{#if this.value.unit}} {{ this.value.unit.unit }} {{/if}}
                  {{else}}
                  <em>Left blank</em>
                  {{/if}} {{else if ($eq this.question.dataType 'DATE')}} {{#if
                  this.value}} {{$utcDate this.value}} {{else}}
                  <em>Left blank</em>
                  {{/if}} {{else if ($eq this.question.dataType
                  'DYNAMIC_MULTIPLE_CHOICE')}} {{#if this.value}} {{$join
                  this.value ', '}} {{else}}
                  <em>Left blank</em>
                  {{/if}} {{else if ($eq this.question.dataType
                  'SELECTION_FROM_OPTIONS')}} {{#if this.value}} {{$join
                  this.value ', '}} {{else}}
                  <em>Left blank</em>
                  {{/if}} {{else if ($eq this.question.dataType 'TEXT_INPUT')}}
                  {{#if this.value}} {{ this.value }} {{else}}
                  <em>Left blank</em>
                  {{/if}} {{else if ($eq this.question.dataType
                  'RICH_TEXT_INPUT')}} {{#if this.value}} {{{this.value}}}
                  {{else}}
                  <em>Left blank</em>
                  {{/if}} {{else if ($eq this.question.dataType
                  'INSTRUMENT_PICKER')}} {{#if this.value}} {{{this.value}}}
                  {{else}}
                  <em>Left blank</em>
                  {{/if}} {{else if ($eq this.question.dataType 'FILE_UPLOAD')}}
                  {{#if this.value}} {{{$attachment this.value
                  ../../attachmentsFileMeta}}} {{else}}
                  <em>Left blank</em>
                  {{/if}} {{/if}}
                </div>
                {{/if}}
              </div>
              {{/each}}
            </div>
          </div>
        </div>
        {{/if}} {{/each}}

        <div
          class="row mt-4 my-3 book-index"
          data-book-index="Technical Review"
        >
          <div class="col">
            <h4 class="bold" class="mb-4">Technical Review</h4>

            <div class="row my-2">
              <div class="col-4 bold">Status:</div>
              <div class="col-8">{{ technicalReview.status }}</div>
            </div>

            <div class="row my-2">
              <div class="col-4 bold">Time Allocation:</div>
              <div class="col-8">{{ technicalReview.timeAllocation }}</div>
            </div>

            <div class="row my-2">
              <div class="col-4 bold">Comment:</div>
              <div class="col-8">{{ technicalReview.publicComment }}</div>
            </div>
          </div>
        </div>

        {{#if sepReviews}} {{#each sepReviews}}
        <div class="row mt-4 my-3 book-index" data-book-index="SEP Reviews">
          <div class="col">
            <h4 class="bold" class="mb-4">SEP REVIEW {{ $sum @index 1 }}</h4>

            <div class="row my-2">
              <div class="col-4 bold">Grade:</div>
              <div class="col-8">{{ this.grade }}</div>
            </div>

            <div class="row my-2">
              <div class="col-4 bold">Comment:</div>
              <div class="col-8">{{ this.comment }}</div>
            </div>
          </div>
        </div>
        {{/each}} {{/if}}
      </div>
    </div>
  </body>
  <script>
    function createIndex(config) {
      let indexElements = document.getElementsByClassName(
        config.spanClassIndex
      );
      let indices = [];
      let num = 0;
      for (let i = 0; i < indexElements.length; ++i) {
        let indexElement = indexElements[i];

        // create array with all data-book-index
        let indexKey = indexElement.dataset.bookIndex;
        let indexKeyFirst = indexKey.slice(0, 1);

        let indexParent = indexElement.dataset.bookIndexParent;
        indices.push({ indexKey, indexParent });

        // create id for span whithout
        num++;
        if (indexElement.id == '') {
          indexElement.id = 'book-index-' + num;
        }
      }

      // create <ul> element for the index
      let indexElementDiv = document.querySelector(config.indexElement);
      let indexUl = document.createElement('ul');
      indexUl.id = 'list-index-generated';
      indexElementDiv.appendChild(indexUl);

      // create <li> element for the index
      indices.forEach((index) => {
        // create <li> element for the index
        let indexNewLi = document.createElement('li');
        indexNewLi.classList.add('list-index-element');

        const indexKey = index.indexKey;
        const indexParent = index.indexParent;

        indexNewLi.dataset.listIndex = indexKey;
        if (indexParent) indexNewLi.dataset.listIndexParent = indexParent;
        indexUl.appendChild(indexNewLi);
      });

      let indexLi = document
        .getElementById('list-index-generated')
        .getElementsByClassName('list-index-element');

      for (var n = 0; n < indexLi.length; n++) {
        // find data and add HTML of the list
        let dataIndex = indexLi[n].dataset.listIndex;
        let spanIndex = document.querySelectorAll(
          "[data-book-index='" + dataIndex + "']"
        );
        indexLi[n].innerHTML =
          '<span class="index-value">' +
          dataIndex +
          '</span><span class="links-pages"></span>';

        // add span for link page
        spanIndex.forEach(function (elem) {
          spanIndexId = elem.id;
          let spanPage = document.createElement('span');
          spanPage.classList.add('link-page');
          spanPage.innerHTML = '<a href="#' + spanIndexId + '"></a>';
          indexLi[n]
            .getElementsByClassName('links-pages')[0]
            .appendChild(spanPage);
        });
      }
    }
    createIndex({
      spanClassIndex: 'book-index',
      indexElement: '#book-index',
    });
  </script>
</html>
