<div class="mb-2">
  {{#if ($eq this.question.dataType 'EMBELLISHMENT') }}
    {{#unless this.config.omitFromPdf }}
      <span class="bold">{{this.config.plain}}</span><br />
    {{/unless}}
  {{else if ($eq this.question.dataType 'FILE_UPLOAD') }}
    <span class="bold">{{this.question.question}}</span><br />
    {{#if this.value}}
      <em>See appendix</em>
    {{else}}
      Left blank
    {{/if}}
    <br />
  {{else if ($eq this.question.dataType 'DATE') }}
    <span class="bold">{{this.question.question}}</span><br />
    {{#if this.value}}
      {{ $utcDate this.value}}
    {{else}}
      Left blank
    {{/if}}
    <br />
  {{else if ($eq this.question.dataType 'BOOLEAN')}}
    <span class="bold">{{this.question.question}}</span><br />
    {{#if this.value}}
      Yes
    {{else}}
      No
    {{/if}}
    <br />
  {{else if ($eq this.question.dataType 'SAMPLE_DECLARATION')}}
    <span class="bold">{{this.question.question}}</span><br />
    <br />

    <div class="ml-3">
      {{#each this.value}}
        <span class="bold">Sample Entry {{ $sum @index 1 }} of {{ ../this.value.length }}</span><br />
        {{this.title}} - <em>See appendix</em>
        <br /><br />
      {{/each}}
      {{#unless this.value}}
        <div class="mb-2">Left blank</div>
      {{/unless}}
    </div>

  {{else if ($eq this.question.dataType 'INTERVAL')}}
    <span class="bold">{{this.question.question}}</span><br />
    {{#if this.value}}
      Min: {{this.value.min}}<br />
      Max: {{this.value.max}}<br />
      Unit: {{this.value.unit}}
    {{else}}
      Left blank
    {{/if}}

  {{else if ($eq this.question.dataType 'NUMBER_INPUT')}}
    <span class="bold">{{this.question.question}}</span><br />
    {{#if this.value}}
      {{this.value.value}} {{this.value.unit}}
    {{else}}
      Left blank
    {{/if}}

  {{else if ($eq this.question.dataType 'RICH_TEXT_INPUT')}}
    <span class="bold">{{this.question.question}}</span><br />
    {{#if this.value}}
      {{{this.value}}}
    {{else}}
      Left blank
    {{/if}}

  {{else}}
    <span class="bold">{{this.question.question}}</span><br />
    {{#if this.value}}
      {{$join this.value ', '}}
    {{else}}
      Left blank
    {{/if}}
  {{/if}}

</div>